body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-position: center;
    background-repeat:no-repeat;
    background-image: url('https://applescoop.org/image/wallpapers/mac/simple-gradient-dark-22-09-2024-1727057370-hd-wallpaper.png');
    overflow-y: auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 500%;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    filter: opacity(0.7);
}

.content {
    flex: 1 1 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.7); /* Adjusted for opacity */
    color: white;
    top: 0;
    margin: 10px auto; /* Center the navbar */
    width: 97%;
    align-items: center;
    padding: 20px;
    position: sticky;
    backdrop-filter: blur(10px); /* Added blur effect */
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden; /* Ensure pseudo-element stays within the navbar */
}

.navbar a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
    position: relative;
    z-index: 2;
}

.navbar a:hover {
    color: #f1c40f;
    transform: scale(1.1);
    position: relative;
    z-index: 2;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: default;
}

.header {
    flex: 0 1 auto;
    text-align: center;
    padding: 20px;
}

.footer {
    flex: 0 1 auto;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.contact-page {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.contact-form {
    background-color: rgba(44, 44, 44, 0.7); /* Same color and opacity as navbar */
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically */
    margin: 50px auto; /* Center the form on the screen and add space above */
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px auto; /* Center the items */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #d4ac0d;
    transform: scale(1.05);
}
   
.social-links {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the social links */
    margin-top: 20px; /* Add some space above the social links */
    gap: 10px;
}

.social-links a {
    color: white;
    font-size: 100%; /* Increase the size of the icons */
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
}

.social-links a:hover {
    color: #f1c40f;
    transform: scale(1.1);
}



